<div
  class="d-flex flex-column align-items-center justify-content-center"
  style="margin-top: 15rem"
>
  <form
    class="form-class d-flex"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center justify-content-between mx-2">
        <label for="origin">Origin:</label>
        <input
          class="mx-2"
          id="origin"
          formControlName="origin"
          type="text"
          [(ngModel)]="requestModel.origin"
        />
      </div>
      <div class="" *ngIf="origin?.invalid && (origin?.dirty || origin?.touched)">
        <div class="mx-3" *ngIf="origin?.errors?.['required']"></div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center justify-content-between mx-2">
        <label for="destination">Destination:</label>
        <input
          class="mx-2"
          id="destination"
          formControlName="destination"
          type="text"
          [(ngModel)]="requestModel.destination"
        />
      </div>
      <div
        *ngIf="
          destination?.invalid && (destination?.dirty || destination?.touched)
        "
      >
        <div class="mx-3" *ngIf="destination?.errors?.['required']">
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center justify-content-between mx-2">
        <label for="departureDate">Departure Date:</label>
        <input
          class="mx-2"
          id="departureDate"
          formControlName="departureDate"
          type="date"
          [(ngModel)]="requestModel.departureDate"
        />
      </div>
      <div
        *ngIf="
          departureDate?.invalid &&
          (departureDate?.dirty || departureDate?.touched)
        "
      >
        <div class="mx-3"  *ngIf="departureDate?.errors?.['required']">
        </div>
      </div>
    </div>

    <button class="mx-2" type="submit" [disabled]="userForm.invalid">
      Submit
    </button>
  </form>
  <div class="w-50" *ngIf="isListActive">
    <div
      class="d-flex flex-column align-items-center mt-2 mb-2"
      style="border-radius: 15px; background-color: whitesmoke"
      *ngFor="let item of responseModel.flights"
    >
      <div class="d-flex mt-2 mb-2">
        <p class="px-2" style="color: black">{{ item.id }}</p>
        <p class="px-2" style="color: black">
          Flight Number : {{ item.flightNumber }}
        </p>
        <p class="px-2" style="color: black">
          Departure Time : {{ item.departureDateTime | date }}
        </p>
        <p class="px-2" style="color: black">
          Arrival Time : {{ item.arrivalDateTime | date }}
        </p>
        <p class="px-2">Price : ${{ item.price }}</p>
        <i
          class="fa fa-angle-up px-2"
          style="cursor: pointer"
          *ngIf="!item.isSelected"
          aria-hidden="true"
          (click)="
            item.isSelected = !item.isSelected; getFlightDetailBtId(item.id!)
          "
        ></i>
        <i
          class="fa fa-angle-down px-2"
          style="cursor: pointer"
          *ngIf="item.isSelected"
          aria-hidden="true"
          (click)="item.isSelected = !item.isSelected"
        ></i>
      </div>
      <div *ngIf="item.isSelected" class="d-flx flex-column">
        <p> Baggage allowance: {{ item.flightDetail?.baggageAllowance }}</p>
        <p *ngIf="item.flightDetail?.stop!=0"> Stop:  {{ item.flightDetail?.stop }}</p>
        <p *ngIf="item.flightDetail?.stop==0"> Stop:  Non-Stop</p>
        <p *ngIf="item.flightDetail?.mealIsFree">Free meal: yes</p>
        <p *ngIf="!item.flightDetail?.mealIsFree">Free meal: no</p>
      </div>
    </div>
  </div>
</div>
